{% extends 'main/base.html'%}


{% block title %} profile for {{user.username}}  {% endblock %}

{% block content %}


<div class="row gap-3">

    <div class="col-2">

        <img src="{{user.profile.avatar.url}}" class="rounded-circle" style="width: 80px; height: 80px; object-fit: cover;" />
        <h5>@{{user.username}}</h5>
        <a href="{{user.profile.social_link}}" target="_blank"><i class="bi bi-back"></i></a>
        {% if request.user == user %}
        <a href="{% url 'accounts:update_user_profile' %}"><i class="bi bi-pencil-square"></i></a>
        {% endif %}
    </div>


    <div class="col">

        <div class="d-flex flex-column gap-3">
            <h5> About </h5>
            <p>{{user.profile.about}}</p>

            <hr />

        </div>
        {% if nests|length == 0 %}
        {% else %}
            {% for nest in nests %}
                <div>
                    <h2>{{ nest.name }}</h2>
                    <p>{{ nest.description }}</p>
                </div>
            {% endfor %}
        {% endif %}
        
    </div>
    

</div>





{% endblock %}