{% extends "nests/base.html" %}
{% load static %}

{% block title %}Assessment Page{% endblock %}

{% block content %}
<h1>Assessment Page</h1>
<p>Welcome to the assessment page. Here you can view and manage your assessments.</p>
{% if request.user.is_authenticated and request.user.is_staff %}
<a class="btn btn-primary" href="{% url 'assessments:assessment_create_view' nest_id=nest.id %}">Create New
    Assessment</a>
{% endif %}
<hr>
<div class="assessments-list">
    {% if assessments %}
    <div class="row g-3">
        {% for assessment in assessments %}
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <a href="{% url 'assessments:assessment_detail_view' nest_id=nest.id pk=assessment.pk %}">
                        <h5 class="card-title">{{ assessment.title }}</h5>
                    </a>
                    <p class="card-text">Description: {{ assessment.description }}</p>
                    <p class="card-text">Type: {{ assessment.assessment_type }}</p>
                    <p class="card-text">Points: {{ assessment.points }}</p>
                    <p class="card-text">Created By: {{ assessment.created_by.username }}</p>
                    <p class="card-text">Created At: {{ assessment.created_at }}</p>
                    <p class="card-text">Due Date: {{ assessment.due_date }}</p>

                    {% if request.user.is_authenticated and request.user.is_staff %}
                    <div class="d-flex justify-content-between">
                        <a class="btn btn-outline-danger"
                            href="{% url 'assessments:assessment_delete_view' nest_id=nest.id pk=assessment.pk %}">Delete</a>
                        <a class="btn btn-outline-primary"
                            href="{% url 'assessments:assessment_update_view' nest_id=nest.id pk=assessment.pk %}">Update</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No assessments available.</p>
    {% endif %}
</div>
{% endblock %}