{% extends "nests/base.html" %}
{% load static %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/assessments-design.css' %}">{% endblock %}
<!-- create -->
{% block title %}Create Assessment{% endblock %}

{% block content %}
    <h1>Create Assessment</h1>
    <form method="post" action="{% url 'assessments:assessment_create_view' nest_id=nest.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Create Assessment</button>
    </form>
{% endblock %}