{% extends "nests/base.html" %}
{% load static %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/assessments-design.css' %}">{% endblock %}

{% block title %}Delete Question{% endblock %}
{% block content %}
<h2>Delete Question: {{ question.text }}</h2>
<p>Are you sure you want to delete this question?</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-danger" type="submit">Delete Question</button>
</form>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Question</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete {{ question.text }} ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{% url 'assessments:question_delete_view' nest_id=nest.id pk=question.id %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}