{% extends "nests/base.html" %}
{% load static %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/assessments-design.css' %}">{% endblock %}

{% block title %}Take Assessment{% endblock %}
{% block content %}
<h2>{{ assessment.title }}</h2>

<form method="post">
    {% csrf_token %}

    {% for q in assessment.questions.all %}
    <div>
        <h4>{{ q.text }}</h4>

        {% if q.question_type == "mcq" %}
        {% for c in q.choices.all %}
        <label>
            <input type="radio" name="question_{{ q.id }}" value="{{ c.id }}">
            {{ c.text }}
        </label><br>
        {% endfor %}
        {% elif q.question_type == "text" %}
        <textarea name="question_{{ q.id }}" class="form-control" rows="3"></textarea>
        {% endif %}
    </div>
    <hr>
    {% endfor %}

    <button class="btn btn-primary" type="submit">Submit Assessment</button>
</form>
{% endblock %}