{% extends "nests/base.html" %}

{% block title %}Add Nest{% endblock %}

{% block content %}
<h1 class="mb-4 mt-4">Add Nest</h1>
<div class="row g-4 align-items-stretch mb-5 mt-4">
    <div class="col-12 col-md-6">
        <form class="d-flex flex-column gap-4 border shadow-sm rounded-3 p-4" action="{% url 'nests:add_nest_view' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label class="form-label fw-semibold" for="name">Name</label>
                <input type="text" placeholder="e.g. CS101, Physics 202 ..." name="name" id="name" class="form-control" required minlength="5" maxlength="1024"/>
            </div>
            <div>
                <label class="form-label fw-semibold" for="description">Description</label>
                <textarea placeholder="Tell us about the nest..." name="description" id="description" class="form-control" required style="height:120px;"></textarea>
            </div>
            <div>
                <label class="form-label fw-semibold">Users</label>

                <div class="border rounded p-2" style="max-height:200px; overflow-y:auto;">
                    {% for user in users %}
                        <div class="form-check">
                            <input class="form-check-input"
                                type="checkbox"
                                name="members"
                                value="{{ user.id }}"
                                id="user-{{ user.id }}">
                            <label class="form-check-label" for="user-{{ user.id }}">
                                {{ user.username }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <input type="submit" value="Add Nest" class="btn btn-primary bg-black mt-2"/>
        </form>
    </div>
</div>
{% endblock %}