{% extends "posts/base.html" %}

{% block title %}Post Question{% endblock %}

{% block content %}

<div class="qa-wrapper">

    <div class="row g-0">
        <!-- Left Side -->
        <div class="col-md-4 qa-left">

            <div class="qa-header">
                <h3 class="fw-bold mb-4">
                    <i class="bi bi-chat text-primary me-2"></i>
                    All Questions
                </h3>

                <div class="search-box">
                    <i class="bi bi-search text-secondary"></i>
                    <input type="text" placeholder="Search questions...">
                </div>
            </div>

            <div class="qa-card">
                <div class="d-flex justify-content-between align-items-start">
                    <h5 class="question-title">
                        
                    </h5>
                    <i class="bi bi-check-circle text-success fs-4"></i>
                </div>

                <p class="text-muted small mt-3">
                    I am struggling to understand when useEffect runs and how cleanup functions...
                </p>

                <div class="d-flex align-items-center gap-3 text-muted small">
                    <span class="vote-box">
                        <i class="bi bi-chevron-up"></i> 12
                    </span>

                    <span>
                        <i class="bi bi-chat me-1"></i> 1
                    </span>

                    <span>
                        <i class="bi bi-clock me-1"></i> about 5 hours ago
                    </span>
                </div>
            </div>

        </div>

        <!-- Right Side -->
        <div class="col-md-8 qa-right">

            <h3 class="fw-bold mb-4">Ask a New Question</h3>
            <form action="{% url 'posts:post_create_view' %}" method="post">
                {% csrf_token %}

                <div class="form-card">

                    <div class="mb-4">
                        <label class="form-label fw-bold">Title</label>
                        <input type="text" name="title" class="form-control form-control-lg" placeholder="Title" required>
                    </div>

                    <div class="mb-4">
                        <label class="form-label fw-bold">Details</label>
                        <textarea name="detail" class="form-control" rows="7"
                            placeholder="Describe your question in detail..." required></textarea>
                    </div>

                    <div class="text-end">
                        <button class="btn btn-purple" type="submit">
                            <i class="bi bi-send me-2"></i>
                            Post Question
                        </button>
                    </div>

                </div>
            </form>

        </div>

    </div>

</div>

{% endblock %}